:root{
    --primary:#111854;
    --ligth:#ffffff;
    --grey:#efefef;
}
body{
    overflow: hidden;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    color: var(--primary);
}
a:hover{
    text-decoration: none;
}
.bg-primary{background-color: var(--primary) !important;}
.btn-primary{background-color: var(--primary) !important;}
.bg-light{background-color: var(--ligth) !important;}
.bg-grey{background-color: var(--grey) !important;}
.btn{
    border: 0;
}
.btn-search{
    right: 5px;
}
.btn-primary:hover{
    background-color: var(--primary);
}
.stat{
    border-right: 1px solid var(--grey);
}
.bg-mix{
    background:linear-gradient(180deg, var(--ligth) 50%, var(--grey) 0)
}
.avatar{
    max-width: 32px;
}
#sidebar-container{
    min-height: 100vh;
}
#sidebar-container .logo{
    padding: .875rem 1.25rem;
}
#sidebar-container .menu{
    width: 18rem;
}
#content{
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}
